apturl
bcrypt
blinker
Brlapi
certifi
chardet
click
colorama
command-not-foundpip freeze > requirements.txt
cryptography
cupshelpers
dbus-python
defer
distro
distro-info
duplicity
fasteners
future
httplib2
idna
importlib-metadata
jeepney
keyring
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
lockfile
louis
macaroonbakery
Mako
MarkupSafe
monotonic
more-itertools
netifaces
oauthlib
olefile
paramiko
pexpect
Pillow
protobuf
ptyprocess
pycairo
pycups
PyGObject
PyJWT
pymacaroons
PyNaCl
pyparsing
pyRFC3339
python-apt
python-dateutil
python-debian
pytz
pyxdg
PyYAML
reportlab
requests
SecretStorage
six
systemd-python
ubuntu-drivers-common
ubuntu-pro-client
ufw
unattended-upgrades
urllib3
usb-creator
wadllib
xdg
xkit
zipp
