{% extends 'base.html' %}
{% load static %}

{% block title %}
  Profile
{% endblock %}

{% block content %}
  {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger mt-2" role="alert">
        <strong>Error!</strong> {{ error }}
      </div>
    {% endfor %}
  {% endif %}

  <div class="card my-4 shadow-sm">
    <div class="card-body">
      <h1 class="text-center mb-4">Update Profile</h1>
      <form method="post">
        {% csrf_token %}
        {% for hidden_field in form.hidden_fields %}
          {{ hidden_field.errors }} {{ hidden_field }}
        {% endfor %}

        <div class="row g-3 mb-3">
          <div class="col-md-6">
            <label for="{{ form.first_name.id_for_label }}" class="form-label">{{ form.first_name.label }}</label>
            {{ form.first_name }}
            {% if form.first_name.errors %}
              {% for error in form.first_name.errors %}
                <div class="text-danger small">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
          <div class="col-md-6">
            <label for="{{ form.last_name.id_for_label }}" class="form-label">{{ form.last_name.label }}</label>
            {{ form.last_name }}
            {% if form.last_name.errors %}
              {% for error in form.last_name.errors %}
                <div class="text-danger small">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
        </div>

        <div class="mb-3">
          <label for="{{ form.email.id_for_label }}" class="form-label">{{ form.email.label }}</label>
          {{ form.email }}
          {% if form.email.errors %}
            {% for error in form.email.errors %}
              <div class="text-danger small">{{ error }}</div>
            {% endfor %}
          {% endif %}
        </div>

        <div class="row g-3 mb-3">
          <div class="col-md-6">
            <label for="{{ form.gender.id_for_label }}" class="form-label">{{ form.gender.label }}</label>
            {{ form.gender }}
            {% if form.gender.errors %}
              {% for error in form.gender.errors %}
                <div class="text-danger small">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
          <div class="col-md-6">
            <label for="{{ form.birth_date.id_for_label }}" class="form-label">{{ form.birth_date.label }}</label>
            {{ form.birth_date }}
            {% if form.birth_date.errors %}
              {% for error in form.birth_date.errors %}
                <div class="text-danger small">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
        </div>

        <div class="row g-3 mb-3">
          <div class="col-md-6">
            <label for="{{ form.street_address.id_for_label }}" class="form-label">{{ form.street_address.label }}</label>
            {{ form.street_address }}
            {% if form.street_address.errors %}
              {% for error in form.street_address.errors %}
                <div class="text-danger small">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
          <div class="col-md-6">
            <label for="{{ form.city.id_for_label }}" class="form-label">{{ form.city.label }}</label>
            {{ form.city }}
            {% if form.city.errors %}
              {% for error in form.city.errors %}
                <div class="text-danger small">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
        </div>

        <div class="row g-3 mb-3">
          <div class="col-md-6">
            <label for="{{ form.postal_code.id_for_label }}" class="form-label">{{ form.postal_code.label }}</label>
            {{ form.postal_code }}
            {% if form.postal_code.errors %}
              {% for error in form.postal_code.errors %}
                <div class="text-danger small">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
          <div class="col-md-6">
            <label for="{{ form.country.id_for_label }}" class="form-label">{{ form.country.label }}</label>
            {{ form.country }}
            {% if form.country.errors %}
              {% for error in form.country.errors %}
                <div class="text-danger small">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
        </div>

        <div class="d-flex justify-content-between">
          <button class="btn btn-primary" type="submit">Update</button>
        </div>
      </form>

      <div class="row mt-4 mb-4">
        <div class="col-md-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>Book Name</th>
                <th>Price</th>
                <th>Date</th>
                <th>Return Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for book in borrowed_books %}
                <tr>
                  <th>1</th>
                  <td>{{ book.book.title }}</td>
                  <td>{{ book.price }}</td>
                  <td>{{ book.date }}</td>
                  <td>
                    {% if book.return_date %}
                      {{ book.return_date }}
                    {% endif %}
                  </td>
                  <td>
                    {% if book.return_date is None %}
                      <a href="{% url 'return_book' book.id %}" name="return_button" onclick="return confirm('Are you sure to return the book?')" class="btn btn-primary btn-sm">Return Book</a>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
