{% extends 'base.html' %}
{% block title %}
  Library Management
{% endblock %}
{% block styles %}

{% endblock %}

{% block content %}
  <div class="row mt-4">
    <div class="col-md-3">
      {% include 'sidebar.html' %}
    </div>
    <div class="col-md-9">
      <div class="row">
        {% for book in books %}
          <div class="col-md-4 mb-4">
            <div class="card shadow-sm rounded">
              <img src="{{ book.image.url }}" class="card-img-top reduced-height" alt="Book Image" />
              <div class="card-body">
                <h5 class="card-title">{{ book.title }}</h5>
                <p class="card-text">{{ book.description|truncatewords:4 }}</p>
                <a href="{% url 'book.detail' %}" class="btn btn-primary btn-block">Detail</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
